@import "../../global.scss";

.menu {
	display: flex;
    font-size: 16px;
	font-weight: 300;
    margin: 0;
    padding: 0;

    @include mobile {
        display: none;
    }
    
	li {
		transition: all 0.4s;
		border-bottom: 1px solid transparent;
        align-items: center;
        justify-content: center;

		a {
			text-decoration: none;
            position: relative;
            padding: 0 10px;
            color: white;
        }
    }
}